## .NET
bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## Node / React client
node_modules/
dist/
*.local

## Others
*.swp
*~
.DS_Store
Thumbs.db
