.artwork-size--s {
  --artwork-width: 7.5rem;
}

.artwork-size--ms {
  --artwork-width: 8.5rem;
}

.artwork-size--m {
  --artwork-width: 10.5rem;
}

.artwork-size--ml {
  --artwork-width: 14rem;
}

.artwork-size--l {
  --artwork-width: 18rem;
}
